:root {
  --bg-color: #fff;
  --font-color: #000;
  --lived-weeks-font-color: #C93C37;
  --rest-weeks-font-color: #57AB5A;
  --btn-shadow-color: #545454;
  --btn-background-color: #9C9C9C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --font-color: #fff;
    --lived-weeks-font-color: #C93C37;
    --rest-weeks-font-color: #57AB5A;
    --btn-shadow-color: #fff;
    --btn-background-color: #fff;
  }
}

html {
  background-color: var(--bg-color);
}

body {
  text-align: center;
  color: var(--font-color);
}

#control-panel-input {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
}

#submitBtn {
  border: 0;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: var(--btn-background-color);
  cursor: pointer;
  margin-top: 10px;
}

#submitbtn:hover {
  box-shadow: 4px 8px 13px -6px var(--btn-shadow-color);
}

#info {
  padding: 10px;
}

#legend {
  padding-bottom: 10px;
}

#info strong:first-child {
  color: var(--lived-weeks-font-color);
}

#info strong:nth-child(2) {
  color: var(--rest-weeks-font-color);
}

#weeks {
  margin-bottom: 50px;
}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}